/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

* {
  box-sizing: border-box;
  /* font-size: x-large; */
}

body {
  margin: 0;
  padding: 0;
}

.Form {
  margin: 5px;
  border: solid 2px black;
}

.Form input {
  margin: 5px;
  border: solid 2px blue;
}

.button {
  margin: 5px;
  padding: 7px;
  border-radius: 10px;
  border: solid 2px gray;
  /* background-color: green; */
}

.primary {
  background-color: rgb(137, 137, 235);
}

.warning {
  background-color: red;
}
